/* Base styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
}

/* Navigation */
nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: #8ab4f8;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content */
#content {
    padding: 20px 0;
}

#test {
    display: none;
    font-size: 1.5em;
}

p.test-question {
    font-size: 3em;
}

#test .answer-option {
    font-size: 2.5em;
    cursor: pointer;
    border: 2px solid #535353;
    padding: 5px;
    margin: 5px 0;
    text-align:center;
}

#test input[type=radio] {
    border: 0;
    width: 5%;
    height: 2em;
}

h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    line-height: 1.5; /* Adjust line height for narrower spacing */
    color: #b0b0b0;
}

.narrow {
}

.wide {
    line-height: 2; /* Adjust line height for wider spacing */
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #333;
    color: #757575;
}

footer p {
    margin: 0;
}

button {
    background-color: #8ab4f8;
    border: none;
    padding: 10px 20px;
    color: #121212;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #6a94e6;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #8ab4f8;
    border: none;
    padding: 10px 20px;
    color: #121212;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #6a94e6;
}

a {
    color: #8ab4f8;
}

a:hover {
    color: #a0c8ff;
    text-decoration: underline;
}

pre, code {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

pre {
    overflow: auto;
}

code {
    font-family: 'Courier New', monospace;
}

.example {
    color: #94dbbd;
}

.tooltip {
    text-align: center;
    color: #121212;
    background-color: #8ab4f8;
    padding: 0 5px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.wordbook {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.wordbook img {
    max-width: 40%;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    nav {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    button, input[type="submit"] {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .wordbook {
        grid-template-columns: 1fr 1fr;
    }
}